# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
build/

# Mac OS X
.DS_Store

# LaTeX
*.log
*.aux
*.out
*.toc
*.idx

# Intermediate copies from LaTeX build
latexdocs/python/document/training.pdf
latexdocs/pyraf/training.pdf
latexdocs/spectroscopy/training.pdf

# Intermediate copies from Sphinx build
# (we're tracking the source files, so we don't need the PDFs)
source/downloads/pdf_guides/pyraf_training.pdf
source/downloads/pdf_guides/spectroscopy_training.pdf

# Jupyter notebook checkpoints
# (Only track the actual notebooks)
.ipynb_checkpoints
